<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appsflyer.onelink.appsflyeronelinkbasicapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.appsflyer.onelink.appsflyeronelinkbasicapp.AppsflyerBasicApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:exported="false" android:name="com.appsflyer.onelink.appsflyeronelinkbasicapp.ConversionDataActivity" />
        <activity android:exported="false" android:name="com.appsflyer.onelink.appsflyeronelinkbasicapp.PeachesActivity" />
        <activity android:exported="false" android:name="com.appsflyer.onelink.appsflyeronelinkbasicapp.BananasActivity" />
        <activity android:exported="false" android:name="com.appsflyer.onelink.appsflyeronelinkbasicapp.ApplesActivity" />
        <activity
            android:exported="true"
            android:name="com.appsflyer.onelink.appsflyeronelinkbasicapp.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mainactivity"
                    android:scheme="afbasicapp" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="geofence-demo.onelink.me"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>
